/* HEADER TITLE CLASS */
.header {
    color: #6fcfef;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size : 80px;
    margin: 0 auto;
}


/* TOOL OUTER DIV CLASS */
.tools {
   display: flex;
   flex-wrap : wrap;
   justify-content: center;
   align-items: center;
   background : rgb(244, 247, 136); /* Yellow */
}

.tools > .toolbox {
   display: relative;
   width: 150px;
   height : 100px;
   margin: 10px;
   text-align: center;
   border-radius: 10px;
   background : #6fcfef;
   transition : .2s;
}

.toolbox:hover {
   background : #F2C9ED;
}

.tools .txt {
   vertical-align: middle;
   font-family: "Work Sans", sans-serif;
   line-height: 50px;
   color : white;
   cursor : pointer;
}


/* POLYBOX OUTER DIV CLASS */
.polybox {
   position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    background : #6fcfef;
    border : none;
    animation: fadeIn ease .5s;
   -webkit-animation: fadeIn ease .5s;
   -moz-animation: fadeIn ease .5s;
   -o-animation: fadeIn ease .5s;
   -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }

@-moz-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }

@-webkit-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }

@-o-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }

@-ms-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }


/* POLYBOX EXIT BUTTON (IMG) CLASS */
.polybox .exit {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}

/* POLYBOX SELECT SOUND OPTIONS CLASS */
.polybox .options {
   position : absolute;
   width: 80px;
   top: 60px;
   left : 0px;
   right : 0px;
   margin:auto;
}


/* POLYBOX SLIDER CLASSES */

.polybox .slider {
  -webkit-appearance: none;
  position : absolute;
  top      : 90px;
  left     : 0px;
  right    : 0px;
  width    : 50%;
  height   : 15px;
  margin : auto;
  background: white;
  outline: none;
}

/* HOVER ANIMATION END */
.polybox .slider:hover {
  opacity: 1;
}

/* SLIDER SELECTOR WEBKIT */
.polybox .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background : rgb(255, 214, 249);
  cursor: pointer;
}

/* SLIDER SELECTOR MOZILLA */
.polybox .slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background : rgb(255, 214, 249);
  cursor: pointer;
}

/* POLYBOX TEXT CLASSES */

.polybox .txt {
   position: absolute;
   left : 0;
   right : 0;
   color: white;
   text-align: center;
   font-family: "Work Sans", sans-serif;
   font-weight: 200;
}

.polybox .title {
   font-size: 30px;
   top : 10px;
}

.polybox .div-display {
   font-size : 15px;
   top : 110px;
}

/* POLYBOX START TOGGLER BUTTON */
.polybox .start-toggle {
   position : absolute;
   width : 50px;
   height : 40px;
   color : #56bbdf;
   background-color : #ffffff;
   border : none;
   border-radius: 5px;
   top: 135px;
   left : 0px;
   right : 0px;
   margin:auto;
}

/* GENERAL STYLES */

.vertpad { height : 10px; }

:focus { outline : none; }

::selection {}

@media only screen and (max-width: 750px) {
}



/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
